{
	"extends": [
		"eslint:recommended", 
		"plugin:react/recommended"
	],

	"plugins": [
		"mocha",
		"react"
	],

	"env": {
		"browser": true,
		"mocha": true,
		"es6": true
	},

	"parser": "babel-eslint",
	"parserOptions": {
		"ecmaVersion": 8,
		"sourceType": "module",
		"ecmaFeatures": {
            "jsx": true,
            "modules": true,
            "experimentalObjectRestSpread": true
        }
	},

	"rules": {

		// enable additional rules
		"indent": ["error", 4],
		"linebreak-style": ["error", "windows"],
		"quotes": ["error", "single"],
		"semi": ["error", "always"],

		// require space before blocks
		"space-before-blocks": ["error", "always"],

		// override default options for rules from base configurations
		"no-cond-assign": ["error", "always"],

		// disable rules from base configurations
		"no-console": "off",

		"mocha/no-exclusive-tests": "error"
	}
}